<div class="col-md-8 col-md-offset-2">
  <h2><%= @event.title %></h2>
  <hr>

  <p class="description">
    <h4>简介</h4><br>
    <%= @event.description %>
  </p>

  <p class="detail">
    <h4>活动内容</h4><br>
    <%= @event.detail %>
  </p>
  <hr>

  <div id="comments">
    <h3><%= @event.comments.count %> 条评论</h3>
    <% if @event.comments.count == 0 %>
      <p>尚未有人评论</p>
    <% else %>
      <% @floor = 1 %>
      <% @event.comments.each do |comment| %>
        <%= @floor %>楼
        <div class="comment clearfix">
          <div class="comment_content">
            <p class="comment_name"><strong><%= comment.name %></strong></p>
            <p class="comment_body"><% comment.body %></p>
          </div>
          <div class="pull-right">
            <%= comment.user.email %>
            <% if current_user == comment.user %>
              <p><%= link_to("删除", event_comment_path(comment.event, comment), method: :delete, class: "button", data: {confirm: "你确定删除吗？"})%></p>
            <% end %>
          </div>
        </div>
        <% @floor = @floor + 1 %>
        </br>
        <hr>
      <% end %>
    <% end %>

    <h4>发表评论</h4>
    <%= simple_form_for ([@event, @event.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.input :name, :label => "标题", input_html: {class: "form-control"} %><br>
        <%= f.input :body, :label => "内容", input_html: {class: "form-control"} %>
      </div>
      <br>
      <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中。。。"} %>
    <% end %>
  </div>
</div>
